*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family:'Poppins',sans-serif;
    background:#020617;
    color:white;
    overflow-x:hidden;
}
#space{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:-2;
    background:
    radial-gradient(circle at top,#0F172A,#020617 70%); 
}
 .planet{
    position:absolute;
    width:420px;
    height:420px;
    border-radius:50%;
    top:-120px;
    right:-120px;
    background:
    radial-gradient(circle at 30% 30%,
    #38BDF8,
    #2563EB,
    #1E3A8A);
    box-shadow:
    0 0 50px #2563EB,
    0 0 120px #1D4ED8;
} 
.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}
.intro{
    font-size:1.2rem;
    color:#38BDF8;
    margin-bottom:15px;
}
.hero h1{
    font-family:'Orbitron',sans-serif;
    font-size:5rem;
    letter-spacing:4px;
    margin-bottom:20px;
}
.hero h2{
    font-size:2rem;
    font-weight:500;
    margin-bottom:25px;
    color:#E2E8F0;
}
.description{
    width:min(700px,90%);
    line-height:1.8;
    color:#CBD5E1;
    margin-bottom:45px;
}
.launch-btn{
    padding:16px 40px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:#38BDF8;
    color:white;
    font-size:1rem;
    font-weight:600;
    transition:.35s;
    box-shadow:
    0 0 25px #38BDF8;
}
.launch-btn:hover{
    transform:translateY(-5px);
    box-shadow:
    0 0 20px #38BDF8,
    0 0 60px #38BDF8,
    0 0 100px #38BDF8;
}
.scroll{
    position:absolute;
    bottom:35px;
    left:50%;
    transform:translateX(-50%);
    color:#94A3B8;
    letter-spacing:2px;
    font-size:.9rem;
}
@media(max-width:768px){
.hero h1{
    font-size:3rem;
}
.hero h2{
    font-size:1.4rem;
}
.planet{
    width:280px;
    height:280px;
}
}
#stars{
    position:absolute;
    inset:0;
}
.star{
    position:absolute;
    width:2px;
    height:2px;
    background:white;
    border-radius:50%;
    animation:twinkle 3s infinite ease-in-out;
}
@keyframes twinkle{
    0%{
        opacity:.2;
        transform:scale(1);
    }
    50%{
        opacity:1;
        transform:scale(1.8);
    }
    100%{
        opacity:.2;
        transform:scale(1);
    }
}