*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family:'Poppins',sans-serif;
    background:#020617;
    color:white;
    overflow-x:hidden;
}
#space{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:-2;
    background:
    radial-gradient(circle at top,#0F172A,#020617 70%); 
}
 .planet{
    position:absolute;
    width:420px;
    height:420px;
    border-radius:50%;
    top:-120px;
    right:-120px;
    background:
    radial-gradient(circle at 30% 30%,
    #f8a838,
    #eb5025ce,
    #8a1e1e);
    box-shadow:
    0 0 50px #eb2525,
    0 0 120px #d81d1d;
    animation: float 8s ease-in-out infinite;
} 
@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-25px);
    }
    100%{
        transform:translateY(0px);
    }
}
.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}
.intro{
    font-size:1.2rem;
    color:#f8bb38;
    margin-bottom:15px;
}
.hero h1{
    font-family:'Orbitron',sans-serif;
    font-size:5rem;
    letter-spacing:4px;
    margin-bottom:20px;
}
.hero h2{
    font-size:2rem;
    font-weight:500;
    margin-bottom:25px;
    color:#E2E8F0;
}
.description{
    width:min(700px,90%);
    line-height:1.8;
    color:#CBD5E1;
    margin-bottom:45px;
}
.launch-btn{
    padding:16px 40px;
    border:none;
    border-radius:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor:pointer;
    background:#f85238;
    color:white;
    font-size:1rem;
    font-weight:600;
    transition:.35s;
    box-shadow:
    0 0 25px #f8385e;
}
.launch-btn:hover{
    transform:translateY(-5px);
    box-shadow:
    0 0 20px #f8d838,
    0 0 60px #f86238,
    0 0 100px #f87838;
}
.rocket{
    display: inline-block;
}
.rocket.launch{
    animation: rocketLaunch 1.2s ease-in forwards;
}
@keyframes rocketLaunch{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    20%{
        transform: translateY(-15px) rotate(-10deg);
        scale:2;
    }
    100%{
        scale:.5;
        transform: translateY(-700px) rotate(-10deg);
        opacity: 0;
    }
}
.scroll{
    position:absolute;
    bottom:35px;
    left:50%;
    transform:translateX(-50%);
    color:#94A3B8;
    letter-spacing:2px;
    font-size:.9rem;
}
@media(max-width:768px){
.hero h1{
    font-size:3rem;
}
.hero h2{
    font-size:1.4rem;
}
.planet{
    width:280px;
    height:280px;
}
}
#stars{
    position:absolute;
    inset:0;
}
.star{
    position:absolute;
    width:2px;
    height:2px;
    background:white;
    border-radius:50%;
    animation:twinkle 3s infinite ease-in-out;
}
@keyframes twinkle{
    0%{
        opacity:.2;
        transform:scale(1);
    }
    50%{
        opacity:1;
        transform:scale(1.8);
    }
    100%{
        opacity:.2;
        transform:scale(1);
    }
}
.shooting-star1{
    position:absolute;
    width: 180px;
    height:2px;
    background:linear-gradient(90deg,rgb(44, 189, 238),transparent);
    top:20%;
    left:-200px;
    transform: rotate(-165deg);
    animation: shoot 6s linear infinite;
}
.shooting-star2{
    position:absolute;
    width: 480px;
    height:2px;
    background:linear-gradient(90deg,rgb(44, 189, 238),transparent);
    top:80%;
    left:-400px;
    transform: rotate(-165deg);
    animation: shoot 6s linear infinite;
}
.shooting-star3{
    position:absolute;
    width: 80px;
    height:2px;
    background:linear-gradient(90deg,rgb(44, 189, 238),transparent);
    top:80%;
    left:-400px;
    transform: rotate(-165deg);
    animation: shoot 6s linear infinite;
}
.shooting-star4{
    position:absolute;
    width: 380px;
    height:2px;
    background:linear-gradient(90deg,rgb(44, 189, 238),transparent);
    top:80%;
    left:-400px;
    transform: rotate(-165deg);
    animation: shoot 6s linear infinite;
}
@keyframes shoot {
    0%{
        left:-200px;
        top:20%;
        opacity: 0;
    }
    10%{
        opacity:1;
    }
    100%{
        left:120%;
        top:60%;
        opacity:0;
    }
}